$primary: #00cccc;
$primary-hover: #1aebeb;
$secondary: rgba(190, 190, 190, 0.9);
$black: #222;
$body-color: rgba(220, 220, 220, 0.9);
$body-bg: rgba(235, 235, 235, 0.9);
$font-family-base: 'Poppins', sans-serif;